<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="app.js" defer></script>
    <title>Write your blog</title>
</head>
<body>
    <form action="" method="post">
        <label for="blog">Write your blog here: </label>
        <input type="text" name="blog" id="blog">
        <button type="submit" id="submitButton">Post</button>
    </form>
</body>
</html>